@import "../../../../scss/index.scss";
.followers {
  display: flex;

  p {
    margin-right: 50px;
    font-size: 16px;
    color: $font-grey;
    &.link:hover {
      cursor: pointer;
    }
  }
  span {
    font-weight: bold;
    color: #000;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    p {
      margin-right: 20px;
      margin-bottom: 0px;
      text-align: center;
    }
  }
}
