@import "../../scss/index.scss";

.publications {
  margin-top: 50px;
  @media screen and (max-width: $breakpoint-tablet) {
    margin-top: 10px;
    h1 {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .column {
      padding: 10px !important;
    }
  }
}
