@import "../../../scss/index.scss";
.modal-publication {
  height: 520px !important;
  .ui.grid {
    margin: 0;
    height: 100%;
  }
  &__left {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__right {
    padding: 0 !important;
    height: 100%;
  }
  &__row {
    padding: 0px !important;
  }
  @media screen and (max-width: $breakpoint-tablet) {
    width: 350px !important;
    height: 500px !important;
    &__right {
      height: 60%;
      h5 {
        text-align: left;
        padding-left: 5px;
        padding-top: 5px;
        margin-bottom: 0px;
      }
    }
    &__row {
      height: 40%;
    }
  }
}
